*/.terraform
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform.tfstate.lock.info
*/.terraform.lock.hcl
shared/*.key
shared/*.pem
shared/*_password
shared/*_key_algorithm
shared/*.md
shared/kubeconfig