*/.terraform
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform.tfstate.lock.info
*/.terraform.lock.hcl
shared/*.key
shared/*.pem
shared/*.crt
shared/*_password
shared/*_key_algorithm
shared/*.md
shared/*_ssh_key
shared/kubeconfig
shared/tunnel_config.json
shared/auth_secret
shared/sshtunnel
kubernetes-orchestrations/*/terraform.tfstate
kubernetes-orchestrations/*/terraform.tfstate.backup
kubernetes-orchestrations/*/.terraform.tfstate.lock.info
kubernetes-orchestrations/*/.terraform.lock.hcl
kubernetes-orchestrations/*/.terraform/