[submodule "etcd/kvm-etcd-server"]
	path = etcd/kvm-etcd-server
	url = git@github.com:Ferlab-Ste-Justine/kvm-etcd-server.git
[submodule "coredns/kvm-coredns-server"]
	path = coredns/kvm-coredns-server
	url = git@github.com:Ferlab-Ste-Justine/kvm-coredns-server.git
[submodule "postgres/kvm-postgres-server"]
	path = postgres/kvm-postgres-server
	url = git@github.com:Ferlab-Ste-Justine/kvm-postgres-server.git
[submodule "postgres/kvm-postgres-load-balancer"]
	path = postgres/kvm-postgres-load-balancer
	url = git@github.com:Ferlab-Ste-Justine/kvm-postgres-load-balancer.git
[submodule "kubernetes/kvm-bastion"]
	path = kubernetes/kvm-bastion
	url = git@github.com:Ferlab-Ste-Justine/kvm-bastion.git
[submodule "kubernetes/kubernetes-client-config"]
	path = kubernetes/kubernetes-client-config
	url = git@github.com:Ferlab-Ste-Justine/kubernetes-client-config.git
[submodule "kubernetes/terraform-libvirt-kubernetes-node"]
	path = kubernetes/terraform-libvirt-kubernetes-node
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-kubernetes-node.git
[submodule "kubernetes/terraform-libvirt-transport-load-balancer"]
	path = kubernetes/terraform-libvirt-transport-load-balancer
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-transport-load-balancer.git
[submodule "kubernetes/terraform-etcd-envoy-transport-configuration"]
	path = kubernetes/terraform-etcd-envoy-transport-configuration
	url = git@github.com:Ferlab-Ste-Justine/terraform-etcd-envoy-transport-configuration.git
[submodule "kubernetes/terraform-null-kubernetes-installation"]
	path = kubernetes/terraform-null-kubernetes-installation
	url = git@github.com:Ferlab-Ste-Justine/terraform-null-kubernetes-installation.git
[submodule "kubernetes/terraform-tls-kubernetes-certificates"]
	path = kubernetes/terraform-tls-kubernetes-certificates
	url = git@github.com:Ferlab-Ste-Justine/terraform-tls-kubernetes-certificates.git
[submodule "nfs/terraform-libvirt-nfs-server"]
	path = nfs/terraform-libvirt-nfs-server
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-nfs-server.git
[submodule "vault/terraform-libvirt-vault-server"]
	path = vault/terraform-libvirt-vault-server
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-vault-server.git
[submodule "vault/terraform-libvirt-vault-load-balancer"]
	path = vault/terraform-libvirt-vault-load-balancer
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-vault-load-balancer.git
[submodule "vault/terraform-libvirt-transport-load-balancer"]
	path = vault/terraform-libvirt-transport-load-balancer
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-transport-load-balancer.git
[submodule "vault/terraform-etcd-envoy-transport-configuration"]
	path = vault/terraform-etcd-envoy-transport-configuration
	url = git@github.com:Ferlab-Ste-Justine/terraform-etcd-envoy-transport-configuration.git
[submodule "automation-server/terraform-libvirt-automation-server"]
	path = automation-server/terraform-libvirt-automation-server
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-automation-server.git
[submodule "prometheus/kvm-prometheus"]
	path = prometheus/kvm-prometheus
	url = git@github.com:Ferlab-Ste-Justine/kvm-prometheus.git
[submodule "minio/terraform-libvirt-minio-server"]
	path = minio/terraform-libvirt-minio-server
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-minio-server.git
[submodule "dhcp/terraform-libvirt-dhcp-server"]
	path = dhcp/terraform-libvirt-dhcp-server
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-dhcp-server.git
[submodule "alertmanager/terraform-libvirt-alertmanager-server"]
	path = alertmanager/terraform-libvirt-alertmanager-server
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-alertmanager-server.git
[submodule "prometheus/terraform-etcd-prometheus-configuration"]
	path = prometheus/terraform-etcd-prometheus-configuration
	url = git@github.com:Ferlab-Ste-Justine/terraform-etcd-prometheus-configuration.git
[submodule "kubernetes-orchestrations/prometheus/k8-generic-orchestrations"]
	path = kubernetes-orchestrations/prometheus/k8-generic-orchestrations
	url = git@github.com:Ferlab-Ste-Justine/k8-generic-orchestrations
[submodule "opensearch/terraform-libvirt-opensearch-server"]
	path = opensearch/terraform-libvirt-opensearch-server
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-opensearch-server.git
[submodule "opensearch/terraform-tls-opensearch-certificates"]
	path = opensearch/terraform-tls-opensearch-certificates
	url = git@github.com:Ferlab-Ste-Justine/terraform-tls-opensearch-certificates.git
[submodule "etcd-backup/backup/backup-docker-images"]
	path = etcd-backup/backup/backup-docker-images
	url = git@github.com:Ferlab-Ste-Justine/backup-docker-images.git
[submodule "starrocks/terraform-libvirt-starrocks-server"]
	path = starrocks/terraform-libvirt-starrocks-server
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-starrocks-server.git
[submodule "custom/terraform-libvirt-custom-server"]
	path = custom/terraform-libvirt-custom-server
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-custom-server.git
