**terraform.tfstate*
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
shared/*.key
shared/*.pem
shared/*.crt
shared/*.p12
shared/*_password
shared/*_key_algorithm
shared/*.md
shared/*_ssh_key
shared/*_webhook
shared/kubeconfig
shared/*tunnel_config.json
shared/registry_credentials.yml
shared/*auth_secret
shared/sshtunnel
shared/logs_shared_key
shared/host_params.json
shared/vault-root-token
shared/*-approle-id
shared/*-approle-secret
shared/network_id
logs/certs/
logs/logs/
kubernetes-orchestrations/*/terraform.tfstate
kubernetes-orchestrations/*/terraform.tfstate.backup
kubernetes-orchestrations/*/.terraform.tfstate.lock.info
kubernetes-orchestrations/*/.terraform.lock.hcl
kubernetes-orchestrations/*/.terraform/
kubernetes-orchestrations/opensearch/certificates/
dhcp-pxe-os-setup/bin/
dhcp-pxe-os-setup/image/
prometheus/prometheus-configs/prometheus.yml
prometheus/prometheus-configs/rules/*-node-exporter.yml
prometheus/prometheus-configs/rules/*-terracd.yml
prometheus/prometheus-configs/rules/*-kubernetes.yml
prometheus/prometheus-configs/rules/*-minio.yml
