[Unit]
Description="I am running service"
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/dynamic-configurations/simple-service/i-am-running.sh

[Install]
WantedBy=multi-user.target